body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #120a88, #52b312);
    margin: 20px;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    box-shadow: 0 0 40px #04ce1f; 
}

.image-container {
    flex: 1;
    text-align: center;
}

.image-container img {
    max-width: 80%;
    height: auto;
    vertical-align: middle;
}

.text-container {
    flex: 2;
    padding: 20px;
}

.text-container textarea {
    width: calc(100% - 20px);
    margin-bottom: 10px;
}

.button-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    padding: 10px 20px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #c3cf17;
    transform: scale(1.1);
}